.menu {
  margin-top: 30px;
}

.body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.body aside {
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  height: 100vh;
  overflow-y: auto;
  flex-shrink: 0;
}

.main {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}