.containerLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--bulma-border-weak);
}

.asideStyle {
  border-right: 1px solid var(--bulma-border-weak);
  height: 100%;
}

.themeToggle {
  border-top: 1px solid var(--bulma-border-weak);
}